# Homarr - Modern dashboard with Docker auto-discovery
# Docs: https://homarr.dev/docs/getting-started/installation
# GitHub: https://github.com/ajnart/homarr

services:
  homarr:
    container_name: homarr
    image: ghcr.io/ajnart/homarr:latest

    env_file:

      - .env
