# FreshRSS - Self-hosted RSS feed aggregator
# Docs: https://docs.linuxserver.io/images/docker-freshrss/

services:
  freshrss:
    container_name: freshrss
    image: lscr.io/linuxserver/freshrss:latest

    env_file:

      - .env
