# MicroBin - Encrypted pastebin with file upload support
# Docs: https://github.com/szabodanika/microbin

services:
  microbin:
    container_name: microbin
    image: danielszabo99/microbin:latest
    env_file: .env
      - homelab
    labels:
      traefik.enable: true
      traefik.http.routers.microbin.rule: Host(`paste.fig.systems`) || Host(`paste.edfig.dev`)
      traefik.http.routers.microbin.entrypoints: websecure
      traefik.http.routers.microbin.tls.certresolver: letsencrypt
      traefik.http.services.microbin.loadbalancer.server.port: 8080
      # Note: MicroBin has its own auth, SSO disabled by default
      # traefik.http.routers.microbin.middlewares: tinyauth

networks:
  homelab:
    external: true
