services:
  tinyauth:
    container_name: tinyauth
    image: ghcr.io/steveiliop56/tinyauth:latest
    env_file: .env
    volumes:
      - ./data:/data
    restart: unless-stopped
    networks:
      - homelab
    labels:
      traefik.enable: true
      # Web UI routing
      traefik.http.routers.tinyauth.rule: Host(`auth.fig.systems`)
      traefik.http.routers.tinyauth.entrypoints: websecure
      traefik.http.routers.tinyauth.tls.certresolver: letsencrypt
      traefik.http.routers.tinyauth.service: tinyauth-ui
      traefik.http.services.tinyauth-ui.loadbalancer.server.port: 3000
      # Forward Auth Middleware
      traefik.http.middlewares.tinyauth.forwardauth.address: http://tinyauth:3000/api/auth/traefik
      traefik.http.middlewares.tinyauth.forwardauth.trustforwardheader: true
      traefik.http.middlewares.tinyauth.forwardauth.authresponseheaders: X-Forwarded-User

networks:
  homelab:
    external: true
